<%- include('./partials/head.ejs') -%>

<%- include('./partials/nav.ejs') -%>

    <h2>Amsterdam-West verbindt</h2>

    <!-- <p>Deze pagina is bedoeld om mensen diensten aan te kunnen laten bieden. Maar ook om te vragen of iemand een dienst wilt verlenen</p> -->

<%- include('./partials/foot.ejs') -%>